# Wazuh stack version (must be consistent across all images)
WAZUH_VERSION=4.11.2

# Wazuh Indexer
INDEXER_PASSWORD=SecretPassword_ChangeMe!

# Wazuh API (used by the Dashboard to communicate with the Manager)
WAZUH_API_USERNAME=wazuh-wui
WAZUH_API_PASSWORD=MyS3cr37P450r.*-

# Wazuh Dashboard
DASHBOARD_USERNAME=kibanaserver
DASHBOARD_PASSWORD=kibanaserver_ChangeMe!
DASHBOARD_PORT=443

# Wazuh Indexer JVM heap size (use 50% of available RAM, e.g. 2g, 4g)
INDEXER_HEAP=512m
